<!doctype html>
<html>
<head>
  <title>John Cena</title>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/foundation/5.5.2/css/foundation.min.css">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/foundation/5.5.2/js/foundation.min.js" charset="utf-8"></script>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="/styles/style.css">
</head>
<body>
  <div class="row">
    <div class="large-12 columns">
      <dl class="sub-nav right">
        <dd><a class=button href="/login">Login</a></dd>
        <dd><a class=button href="/signup">Signup</a></dd>
      </dl>
    </div>
  </div>


  <div class="row">
    <div class="panel">

      <div class="jumbotron text-center">
        <h1><i class="fa fa-money"></i> Q&A Banking <i class="fa fa-money"></i></h1>

        <span>Welcome, you mother fuckers to Austin and Quade's Banking experience.</span>

      </div>

    </div>

  </div>

  <div class="row pictureHolder" align=center>
    <img src="http://www.profitrg.com/cms/wp-content/uploads/2012/03/slider-money-in-hand-3.png" alt="" />
    <hr/>
  </div>

  <div class="row">
    <div class="medium-6 columns">
      <h3>About Us</h3>
      <p>We're just two young bucks hailing from Californ EYE AY. We got the drop top down in our VW Golf as we cruise up the PCH on our way to a wicked hike.</p>
    </div>
    <div class="medium-6 columns"></div>
  </div>



</body>
</html>
